---
/**
 * Hero with background image
 */
import heroImage from "@images/Cover_V3.png";
import heroImageMobile from "@images/Cover_V3.png";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

const lang = Astro.url.pathname.startsWith("/en/") ? "en" : "zh";
const heroTitle = lang === "en" ? "\"What can be said can be said clearly.\"" : "凡可说者，皆可说清";
const heroSubtitle = lang === "en" ? "Let's explore the boundaries of natural language in human-computer interaction" : "让我们一起探索自然人机交互的语言边界";
---

<section id="hero" class="relative z-10 flex min-h-[100lvh] w-full flex-col">
	<!-- background image -->
	<div class="absolute -z-10 h-full min-h-full w-full overflow-hidden">
		<div class="absolute inset-0 bg-black/10" aria-hidden="true"></div>

		<Image
			src={heroImage}
			class="hidden h-auto min-h-full w-full object-cover object-bottom brightness-101 sm:block"
			alt="wedding"
			aria-hidden="true"
			loading="eager"
			height={1400}
		/>
		<Image
			src={heroImageMobile}
			class="h-auto min-h-full w-full object-cover brightness-101 sm:hidden"
			alt="wedding"
			aria-hidden="true"
			loading="eager"
			width={1200}
		/>
	</div>

	<!-- hero items -->
	<div class="site-container relative mt-auto w-full gap-10 pb-16 text-center md:pb-24">
		<!-- Hero text -->
		<div class="text-base-50 my-auto mx-auto max-w-full flex-col">
			<h1
				class:list={[
					"font-heading-1 font-semibold text-pretty md:leading-tight",
					lang === "en" ? "text-3xl md:text-6xl" : "text-4xl md:text-7xl",
				]}
			>
				{heroTitle}
			</h1>

			<h2
				class:list={[
					"mt-10 font-heading-2 font-semibold text-pretty md:mt-8 md:leading-tight",
					lang === "en" ? "text-2xl md:text-5xl" : "text-3xl md:text-6xl",
				]}
			>
				{heroSubtitle}
			</h2>

			<div class="mt-10 flex justify-center" aria-hidden="true">
				<Icon
					name="mynaui/arrow"
					class="h-10 w-10 -rotate-0 text-white opacity-90 md:h-14 md:w-14"
					aria-hidden="true"
				/>
			</div>
		</div>
	</div>
</section>
