---
---

<footer class="bg-base-100/40 mt-12 flex flex-col items-center justify-center py-8">
	<div class="site-container">
		<div class="text-center text-sm opacity-80">
			<p>© 2026 Lesong Jia. All rights reserved.</p>
			<p class="mt-2">Cover image generated with Midjourney.</p>
		</div>
	</div>
</footer>
